  <div class="traffic">
    <ul>
    <li class="left" ></li>
    <li class="center"></li>
    <li class="right"></li>
    </ul>
  </div>

  <div class="contents">
    <div>
     <input id="left" type="button" value="ボタン">
    </div>
    <div>
     <input id="center" type="button" value="ボタン">
    </div>
    <div>
     <input id="right" type="button" value="ボタン">
    </div>
  </div>
